<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ listFilter }}</h4>
      </div>
    </div>
    <!-- if there are any products to display, show them in a nice Bootstrap-styled table -->
    <ng-container *ngIf="products && products.length">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>
                <button class="btn btn-primary" (click)="toggleImage()">
                  {{ showImage ? "Hide" : "Show" }} Image
                </button>
              </th>
              <th>Product</th>
              <th>Code</th>
              <th class="text-center">Available</th>
              <th class="text-right">Price</th>
              <th>5 Star Rating</th>
            </tr>
          </thead>
          <tbody>
            <!-- generate a row in the table for each product -->
            <ng-container *ngFor="let product of filteredProducts">
              <tr>
                <td>
                  <!-- only show the image when user wants to see it -->
                  <ng-container *ngIf="showImage">
                    <img
                      [src]="product.imageUrl"
                      [title]="product.productName"
                      class="product-image"
                    />
                  </ng-container>
                </td>

                <td>{{ product.productName }}</td>
                <td>
                  {{ product.productCode | lowercase | convertToSpaces: "-" }}
                </td>
                <td class="text-center">
                  {{ product.releaseDate | date: "yyyy-MM-dd" }}
                </td>
                <td class="text-right">{{ product.price | currency }}</td>
                <td>{{ product.starRating }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
